<div id="top_bets">
  <h3>Top Wins!</h3>
  <table class="table">
    <thead>
      <th>#</th>
      <th>Win <%= fa_icon 'eur' %></th>
      <th>Bet</th>
      <th>Win</th>
      <th>Currency</th>
      <th>Time</th>
      <th>Player</th>
    </thead>
    <tbody id="top_wins">
      <% @top_wins.each_with_index do |win, index| %>
        <tr>
          <td class="top_position"><%= index + 1 %></td>
          <td class="amount"><%= win.win_amount_eur %></td>
          <td class="amount"><%= win.bet_amount %></td>
          <td class="amount"><%= win.win_amount %></td>
          <td class="currency"><%= win.bet_amount_currency %></td>
          <td class="created_at"><%= win.created_at %></td>
          <td class="created_at"><%= win.user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
