<%# renders current flash %>
document.getElementsByClassName("flash")[0].innerHTML = '<%= j render partial: "shared/flash" %>';

<%# sets bet amount input field to zero %>
document.getElementById("bet_bet_amount").value = "0.00"

<%# updates accounts info -- start %>
var accounts = {
  <% current_user.accounts.each do |account| %>
    "<%= account.amount_currency.to_s %>": "<%= account.amount.to_s %>",
  <% end %>
};

for (let account in accounts) {
  document.getElementById(`${account}`).firstElementChild.innerHTML = `${accounts[account]}`;
}
<%# updates accounts info -- end %>

<%# updates the last bets table -- start %>
<% if @bet && @bet.persisted? %>
  var last_bet = {
    bet_amount: "<%= @bet.bet_amount.to_s %>",
    win_amount: "<%= @bet.win_amount.to_s %>",
    currency:   "<%= @bet.bet_amount_currency.to_s %>",
    created_at: "<%= @bet.created_at %>"
  };

  var log_table = document.getElementById("log");

  var log_table_tr = document.createElement("tr");
  log_table_tr.innerHTML = `
    <tr>
      <td class="amount">${last_bet.bet_amount}</td>
      <td class="amount">${last_bet.win_amount}</td>
      <td class="currency">${last_bet.currency}</td>
      <td class="created_at">${last_bet.created_at}</td>
    </tr>
  `;
  log_table.prepend(log_table_tr);

  var log_table_length = log_table.rows.length;
  if (log_table_length > 5) {
    log_table.deleteRow(log_table_length - 1);
  }
<% end %>
<%# updates the last bets table -- end %>

<%# updates the top chart table -- start %>
var old_top_bets_elememt = document.getElementById("top_bets");
var new_top_bets_elememt = document.createElement("div");
new_top_bets_elememt.id = "top_bets";
new_top_bets_elememt.innerHTML = '<%= j render partial: "bets/top_bets" %>';
old_top_bets_elememt.parentNode.replaceChild(new_top_bets_elememt, old_top_bets_elememt);
<%# updates the top chart table -- end %>
